<div class="dv-login-container form-container-sm">
	<form (ngSubmit)="submitPassword()">
		<div class="form-group">
			<h2>Password Reset</h2>
		</div>
		<div>
			<input id="fld-new-password" class="input-text" type="password" name="newpassword" placeholder="New password" required />
		</div>
		<div>
			<input id="fld-confirm-password" class="input-text" type="password" name="confirmpassword" placeholder="Confirmation" required />
		</div>
		<div class="form-group">
			<input id="fld-lastname" class="input-text" type="text" name="lastname" placeholder="Last name" required />
		</div>
		<div class="form-group">
			<div>
				<button type="submit" id="login-btn">Submit</button>
			</div>
		</div>
		<br/>
	</form>

	<div class="hidden validation">
		<p class="validation-text">Enter at least 8 characters that contains the following:</p>
		<ul class="validation-text">	
			<li>An upper case</li>
			<li>A lower case</li>
			<li>A number</li>
			<li>A special character</li>
		</ul>
		<p class="validation-text">New password should match confirm password</p>	
	</div>

</div>

<div class="hidden confirmed">
	<p class="success-password">Your password has been successfully changed.</p>
	<br>
	<br>
	<center><button class="button" type="button actionButton" (click)="backLogin()">Ok</button></center>
</div>





<ng2-slim-bar></ng2-slim-bar>
