<div class="patient-search">
	<input class="input-text search-input" disabled="disabled" type="search" id="fld-search-patient" name="patientName" placeholder="Search Patient"
		[(ngModel)]="patientmodel.patientName" (keyup)="getPatientList()" />

	<input class="input-text search-input" disabled="disabled" type="search" id="fld-search-message" name="searchMessage" placeholder="Search Message"
		(keyup)="getFilteredTimelineMessages()" [(ngModel)]="messageModel.searchMessage" />

	<div *ngIf="showGear" class="user-search-loading">
		<img src="resources/static/icons/gears_small.svg" />
	</div>
</div>

<div *ngFor="let tl of timeline">
	<div *ngIf="showTimeline">
		<timeline-details>
			<div class="detail-item user-image avatar">
				<img *ngIf="tl.fromUser.userAvitar != null" class="detail-avatar" src="data:image/jpeg;base64,{{tl.fromUser.userAvitar}}"
				/>
			</div>
			<div class="detail-item message">
				<p class="detail-name">{{tl.fromUser.username}} {{tl.fromUser.lastName}} <span class="patient">@{{tl.toPatient.firstName}} {{tl.toPatient.lastName}}</span></p>

				<img class="zoom" [src]="'data:image/jpeg;base64,' + tl.image" *ngIf="tl.image" width="200" height="200" />
				<p>{{tl.message}}</p>
			</div>

			<div class="detail-item time">
				<p align="right" [innerHTML]="format(tl.createdTimestamp)"></p>
			</div>
		</timeline-details>
	</div>
</div>

<div class="timeline-loading hidden">
	<center><img src="resources/static/icons/gears_small.svg" /></center>
</div>

<div *ngFor="let pt of patients">
	<div *ngIf="showPatients">
		<patient-list (click)="assignPatient(pt)">
			<div class="detail-item details-one">
				<p class="detail-name name-padding-top"><span class="cursor-pointer">{{pt.firstName}} {{pt.lastName}}</span></p>
			</div>
		</patient-list>
	</div>
</div>

<div class="user-search details-two message-area">
	<div [innerHTML]="timelineMessageModel.patient.firstName !== '' ? '@' + timelineMessageModel.patient.firstName + ' ' +  timelineMessageModel.patient.lastName : ''"></div>
	<textarea name="message" class="full-width" id="fld-message" [(ngModel)]="timelineMessageModel.message" (keyup)="enableSend()"
		disabled="disabled"></textarea>
	<button (click)="postTimelineMessage()" id="btn-send-message" class="button header-button createUserButton" disabled="disabled">Send</button>
</div>



<!--VIEW TIMELINE BOX ENDS-->
